@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body {
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 
    [head] auto
    [bun] auto 
    [member] auto
    [back] auto
    [foot] auto;
    font-family:  "游ゴシック体 Medium" , sans-serif ;
    letter-spacing: 0.12em;
    color: #222;
    background-color: #b5ff14;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}
header , footer {
    grid-column: 1 / -1;
}
header {
    position: relative;
}
body::after {
    height: auto;
    width: auto;
    content: "";
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    border-radius: 500px;
    border: solid 6px #673fd5;
    z-index: -5;
}
@keyframes fadeRightAnime{
  from {
    opacity: 0;
	transform: translateX(100px);
  }

  to {
    opacity: 1;
	transform: translateX(0);
  }
}
@keyframes fadeLeftAnime{
  from {
    opacity: 0;
	transform: translateX(-100px);
  }

  to {
    opacity: 1;
	transform: translateX(0);
  }
}
@keyframes fadeUpAnime{
  from {
    opacity: 0;
	transform: translateY(100px);
  }

  to {
    opacity: 1;
	transform: translateY(0);
  }
}
.top-7 {
    position: absolute;
    z-index: -7;
}
.top-6 {
    position: absolute;
    z-index: -6;
    animation-name:fadeRightAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity:0;
}
.top-5 {
    position: absolute;
    z-index: -5;
    animation-name:fadeLeftAnime;
animation-duration:0.9s;
animation-fill-mode:forwards;
opacity:0;
}
.top-4 {
    position: absolute;
    z-index: -4;
    animation-name:fadeUpAnime;
animation-duration:3s;
animation-fill-mode:forwards;
opacity:0;
}
.top-3 {
    position: absolute;
    z-index: -3;
    animation-name:fadeUpAnime;
animation-duration:1s;
animation-fill-mode:forwards;
opacity:0;
}
.top-2 {
    position: absolute;
    z-index: -2;
}
.top-1 {
    animation-name:fadeUpAnime;
animation-duration:2s;
animation-fill-mode:forwards;
opacity:0;
}

section {
    grid-column: 2 / -2;
    grid-row: bun;
}
.member {
    grid-column: 2 / -2;
    grid-row: member;
    margin: 65px 20px 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 65px 50px;
}
article {
    grid-column: 2 / -2;
    grid-row: back;
    text-align: center;
}
article  p { 
    text-align: center;
    margin-top: 50px;
}
footer {
    grid-column: 1 / -1;
    grid-row: foot;
    margin-bottom: 50px;
    text-align: center;
}
footer p {
    text-align: center;
}
figure{
    margin: 0;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    color: #222;
    text-decoration: none;
}
.place {
    text-decoration: underline;
}
.yokoku {
    border: solid 5px #673fd5;
    color: #673fd5;
    padding: 18px 20px;
    width: 195px;
    margin: 35px auto;
    font-size: 30px;
    border-radius: 50px;
}
.yokoku-center , .yokoku-center p {
    text-align: center;
}
.access {
    border: solid 3px #222;
    padding: 18px 20px;
    margin:45px auto;
    width: 400px;
    font-size: 13px;
    border-radius: 9px; 
}
rt {
    font-size: 13px;
    text-align: center;
}
.bar{
    height: 45px;
    width: 0px;
    margin: 65px auto;
    border: solid 1px #222;
}
p , h1 , h2 {
    margin-top: 65px;
}
h1 , h3{
    font-size: 40px;
    text-align: center;
    font-weight: normal;
}
h2{
    font-size: 27px;
    font-family: "Futura Medium", sans-serif ;
    margin-bottom: 10px;
}
.sub-day {
    font-size: 16px;
    letter-spacing: 0.5em;
    font-style: italic;
    font-weight: 900;
}
h3 {
    margin-top: 200px;
    color: #673fd5;
    font-style: italic;
}
h4 {
    text-align: center;
    margin-top: 50px;
    color: #673fd5;
}
.sub-title {
    font-size: 22px;
    font-weight: normal;
    font-family: "游ゴシック体 Medium", sans-serif ;
}
p {
    text-align: justify;
    font-size: 15px;
}
.sub{
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.7em;
}
.sub br {
    display: block;
}
ul {
    margin-left: 25px;
 }
.insta {
    width: 50px;
    margin: 100px auto;
}
aside img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 8px;
}
aside a {
    text-decoration: none;
    text-align: center;
    color: #222;
}
aside i img{
    width: 11px;
    height: 9px;
    margin-bottom: 0px;
    margin-right: 5px;
    border-radius: 0%;
}
.pepe {
    font-size: 10px;
    letter-spacing: -0.05em;
    margin-top: 1px;
    margin-left: -2px;
}
.nirohs {
    letter-spacing: 0;
}
.music{
    grid-column: 1 / -1;
    margin-top: -100px;
}
.event{
    display: grid;
    grid-template-columns: auto 1px auto;
    column-gap: 12px;
    font-weight: 800;
    border-radius: 9px;
    font-size: 14px;
    margin: 100px auto 0px;
    padding: 20px 0px 40px;
    background-color: #6b6b6b;
    color:#b5ff14;
    max-width: 400px;
}
.event h2 {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    margin: 10px 30px;
    padding-bottom: 25px;
    text-align: left;
}
.event ul{
    list-style: none;
    margin-left: 0px;
}
.event li + li{
    margin-top: 33px;
}
.event-day{
    text-align: right;
    grid-column: 1 / 2;
    grid-row: 2 /3 ;
    padding-bottom: 0px;
    margin-top: 1px;
    display: grid;
}
.event-title {
    grid-column: 3 / 4;
    text-align: left;
    display: grid;
}
.event-bar{
    grid-column: 2 / 3;
    height: 500px;
    width: 0px;
    border: solid 0.5px #b5ff14;
    margin-top: -6px;
}
.heizitu {
    font-size: 10px;
    color: #fff;
    display: block;
}
.syukuzitu {
    font-size: 10px;
    color: rgb(255, 85, 85);
    display: block;
}
.tickets {
    margin-top: 50px;
}
.ticket {
    margin-top: 40px;
}
.sponsor {
    text-align: center;
    font-size: 9px;
    letter-spacing: 0.5em;
    background-color: #9156fe;
    padding-bottom: 10px;
}
.sponsor p {
    padding-top: 15px;
}
.sponsorGrid {
    display: inline;
}
.sponsor img {
    height: 35px;
    margin: 15px 10px;
}



/*--ボタンの設定--*/
a :hover{
    filter: brightness(2);
    scale: 105%;
}
.buttom {
    position: relative;
    border: 1px solid ;
    border-radius: 40px;
    margin: 50px 30px;
    text-align: center;
    transition: .2s ease .2s;
    overflow: hidden;
}
.buttom a {
    text-decoration: none;
    color: #673fd5;
    display: block;
    padding: 30px;
}
.buttom:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: transform .5s ease-in-out;
    transform: scale(0,1);
    z-index: -1;
  }
  .buttom:hover:before {
    transform: scale(1,1);
  }
/*--c_morebtn2--*/
.c_morebtn2:before {
    transform-origin: right;
    background-image: linear-gradient(69deg, rgba(76, 161, 219, 1) 10%, rgba(53, 131, 226, 1) 43%, rgba(191, 143, 193, 1) 78%, rgba(114, 250, 164, 1) 87%, rgba(33, 160, 193, 1) 94%);
  }
  .c_morebtn2:hover:before {
    transform-origin: left;
  }

  @media (min-width: 768px){

    body {
        display: grid;
        grid-template-columns: auto 750px auto;
    }
    header {
        grid-column: 2 / -2;
    }
    .pepe {
        font-size: 0.83em;
        letter-spacing: 0.12em;
        margin-top: 0px;
    }
    .nirohs {
        letter-spacing: 0.12em;
    }
    .sub-title br {
        display: block;
    }
    .sub br {
        display: none;
    }
    article {
        grid-column: 1 / -1;
        grid-row: back;
    }
    .sponsor {
        grid-column: 1 / -1;
        width: 100%;
    }
    .sponsor img {
        margin: 20px 50px;
    }
    .buttom {
        width: 50%;
        margin: 50px auto;
    }
}